* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$themeColor: rgb(27, 27, 27);

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

html {
  height: 100%;
  body {
    background-color: $themeColor;
    font-family: "cwTeXYen", "Baloo 2", cursive;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* 確保body最小高度100% */
    //   開頭動畫
    section.animation-wrapper {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: white;
      section.animation {
        // border: 5px solid red;
        width: 100%;
        margin-top: 10vh;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero {
          // border: 5px solid green;
          width: 100%;
          height: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      section.slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgb(144, 144, 144), rgb(0, 0, 0));
        z-index: -1;
      }
    }
    // 主畫面
    section.container {
      display: flex;
      flex-direction: column;
      flex-grow: 1; /* 使main佔滿剩餘垂直空間 */
      //   navbar
      header {
        nav {
          .title {
            width: 100%;
            height: 8.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
          }
          .cover {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 8.5rem;
          }
          .hero {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -3;
            width: 100%;
            height: 8.5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      main {
        flex-grow: 1; /* 佔滿剩餘的垂直空間 */
        section.main-part {
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
          //   排序按鈕
          div.sort-btn {
            .btn {
              padding: 0.5rem 0.75rem;
              font-size: 0.9rem;
              margin: 0.5rem;
              margin-bottom: 1.75rem;
              border: 0.25px solid rgb(29, 29, 29);
              border-radius: 0.25rem;
              cursor: pointer;
            }
          }
          //   表格
          div.all-inputs {
            form {
              div.grader {
                display: flex;
                justify-content: center;
                align-items: center;
                input,
                select {
                  padding: 0.75rem;
                  margin: 0.15rem;
                  font-size: 1.05rem;
                  border: 0.25rem solid rgb(29, 29, 29);
                  border-radius: 0.5rem;
                }
                input[type="number"] {
                  -moz-appearance: textfield;
                  appearance: textfield;
                }
                .class-name {
                  width: 30%;
                }
                .class-credit {
                  width: 12%;
                  text-align: center;
                  appearance: none;
                }
                .class-grade {
                  width: 12%;
                  text-align: center;
                }
                .class-gpa {
                  width: 3.5rem;
                  height: 3.5rem;
                  border-radius: 50%;
                  text-align: center;
                  background-color: rgb(144, 144, 144);
                  appearance: none;
                }
                button.trash-btn {
                  border: none;
                  background-color: $themeColor;
                  margin-left: 0.35rem;
                  cursor: pointer;
                  i {
                    font-size: 1.5rem;
                    color: white;
                    pointer-events: none;
                  }
                }
              }
            }
          }
          //   plus btn
          button.plus-btn {
            margin: 1.5rem;
            background-color: $themeColor;
            border: none;
            i {
              font-size: 2.5rem;
              color: white;
              cursor: pointer;
            }
          }
          //   result
          form {
            display: flex;
            flex-direction: column;
            align-items: center;
            div.result-label {
              font-size: 1.5rem;
              font-weight: bold;
              color: white;
              width: 450px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              label {
                width: 100px;
                // border: 3px solid green;
              }
            }
            div.result-grade {
              //   border: 3px solid red;
              margin-top: 0.25rem;
              width: 100%;
              display: flex;
              justify-content: space-between;
              input {
                font-size: 2.5rem;
                font-family: "Baloo 2", cursive;
                font-weight: bold;
                text-align: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              #circle-credit {
                border: 3px solid #37e2d5;
                animation-name: border_color1;
                animation-duration: 8s;
                animation-iteration-count: infinite;
              }
              #circle-grade {
                border: 3px solid #fb5050;
                animation-name: border_color2;
                animation-duration: 8s;
                animation-iteration-count: infinite;
              }
              #circle-gpa {
                border: 3px solid #fedb39;
                animation-name: border_color3;
                animation-duration: 8s;
                animation-iteration-count: infinite;
              }
            }
          }
        }
      }
    }
    // 頁尾
    footer {
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #121212;
      color: white;
      font-size: 1.05rem;
    }
  }
}

@keyframes border_color1 {
  0% {
    border-color: #37e2d5;
  }
  33% {
    border-color: #fb5050;
  }
  66% {
    border-color: #fedb39;
  }
}

@keyframes border_color2 {
  0% {
    border-color: #fb5050;
  }
  33% {
    border-color: #fedb39;
  }
  66% {
    border-color: #37e2d5;
  }
}

@keyframes border_color3 {
  0% {
    border-color: #fedb39;
  }
  33% {
    border-color: #37e2d5;
  }
  66% {
    border-color: #fb5050;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
